.checkoutWrapper {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWrapper {
    border: 1px solid #ced3de;
    border-radius: 5px;
    width: 600px;
    background-color: #ffffff;
}

.formHeader {
    background-color: #0182ff;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.formHeaderText {
    color: #ffffff;
    font-weight: 700;
}

.spotInformationWrapper {
    display: flex;
    flex-direction: row;
    padding: 0 40px;
    gap: 30px;
}

.image {
    border-radius: 5px;
}

.underline {
    height: 1px;
    margin: 20px 40px;
    background-color: #ebeef3;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0 40px 40px;
}

.fieldText {
    color: #5c799b;
    font-weight: 600;
}

.field {
    width: 100%;
    border: 1px solid #ced3de;
    border-radius: 3px;
    padding: 7px;
    margin: 10px 0;
    color: #5c799b;
    &:focus {
        outline: 1px solid #1bbd72;
        border-color: #1bbd72;
    }
}

.submitButton {
    align-self: flex-end;
    background-color: #1bbd72;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 20px;
    font-weight: 600;

    &:hover {
        cursor: pointer;
    }

    &.disabled {
        background-color: rgb(182, 26, 26);
    }
}
